<div>
    <label [attr.for]="id()" class="block my-3 text-sm font-medium text-gray-900 dark:text-white">{{ label() }}</label>
    <input 
        [id]="id()" 
        [attr.type]="type()" 
        [attr.placeholder]="placeholder()" 
        [attr.min]="type() === 'number' ? 0 : null" 
        [disabled]="disabled()"
        autocomplete="on"
        [formControl]="control()" 
        (blur)="onTouched()"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        @if(control() && control().invalid && control().touched) {
            @if (control().errors?.['required']) {
            <p class="mt-1 text-xs text-red-600 dark:text-red-500">Este campo es obligatorio</p>
            }

            @if (control().errors?.['email']) {
            <p class="mt-1 text-xs text-red-600 dark:text-red-500">No es un email válido</p>
            }

            @if (control().errors?.['maxlength']) {
            <p class="mt-1 text-xs text-red-600 dark:text-red-500">Se requiere un máximo de {{
                control().errors?.['maxlength'].requiredLength }} caracteres</p>
            }

            @if (control().errors?.['minlength']) {
            <p class="mt-1 text-xs text-red-600 dark:text-red-500">Se requiere un mínimo de {{
                control().errors?.['minlength'].requiredLength }} caracteres</p>
            }

            @if (control().errors?.['min']) {
            <p class="mt-1 text-xs text-red-600 dark:text-red-500">Se requiere un número mayor a {{
                control().errors?.['min'].min }}</p>
            }
        }
</div>