<div class="bg-container h-screen flex justify-center items-center">

    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-[#14294a]">
        <form class="space-y-4" [formGroup]="registerForm">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Registrarse</h5>
            
            <app-custom-input
                [id]="'name'"
                [label]="'Nombres'" 
                [type]="'text'" 
                [placeholder]="'tu_nombre'" 
                [control]="registerForm.controls.name"
                formControlName="name"
            />

            <app-custom-input
                [id]="'lastname'"
                [label]="'Apellidos'" 
                [type]="'text'" 
                [placeholder]="'tu_apellido'" 
                [control]="registerForm.controls.lastname"
                formControlName="lastname"
            />

            <app-custom-input
                [id]="'email'"
                [label]="'Correo electrónico'" 
                [type]="'email'" 
                [placeholder]="'name@company.com'" 
                [control]="registerForm.controls.email"
                formControlName="email"
            />

            <app-custom-input
                [id]="'password'"
                [label]="'Contraseña'" 
                [type]="'password'" 
                [placeholder]="'**********'" 
                [control]="registerForm.controls.password"
                formControlName="password"
            />
            <div class="mt-3"></div>
            <app-custom-button label="Crear" type="submit" [disabled]="!registerForm.valid" (btnCliked)="OnSubmit()"
                [loading]="loading" />
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Ya tienes cuenta? <a routerLink="/auth/login"
                    class="text-blue-700 hover:underline dark:text-blue-500">Entrar</a>
            </div>
        </form>
    </div>

</div>