<div class="grid [grid-template-columns:repeat(auto-fit,minmax(30px,1fr))] gap-1 w-full max-w-6xl">
    <div class="loader-status bg-sky-800 font-bold text-sm flex justify-center items-center text-center col-span-2 row-span-2 flex-none ...">
        @if(colName == '' || num_cantado == 0) {
            #
        } @else {
            {{colName}} <br> {{ num_cantado }}    
        }
    </div>
        @for (item of items; track $index; let i = $index) {
            <div 
                class="loader font-bold flex justify-center items-center text-center"
                [class]="item.state ? 'bg-green-300' : ''"
            >
                {{ item.value || '' }}
            </div>
        }
</div>

  
