<div class="bg-container flex justify-center items-center">

    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-[#14294a]">
        <form class="space-y-6" [formGroup]="loginForm">

            <h5 class="mb-3 text-xl font-medium text-gray-900 dark:text-white">Iniciar sesión</h5>
            <app-custom-input
                [id]="'email'"
                [label]="'Correo electrónico'" 
                [type]="'email'" 
                [placeholder]="'name@company.com'" 
                [control]="loginForm.controls.email"
                formControlName="email"
            />

            <app-custom-input
                [id]="'password'"
                [label]="'Contraseña'" 
                [type]="'password'" 
                [placeholder]="'**********'" 
                [control]="loginForm.controls.password"
                formControlName="password"
            />

            <div class="flex items-end">
                <a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Olvidaste la
                    contraseña?</a>
            </div>
            <div class="mt-3"></div>
            <app-primary-button label="Ingresar" type="submit" [disabled]="!loginForm.valid" (btnCliked)="OnSubmit()"
                [loading]="loading" />
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                No tienes cuenta? <a routerLink="/auth/register"
                    class="text-blue-700 hover:underline dark:text-blue-500">Crear</a>
            </div>
        </form>
    </div>

</div>