<div class="bg-container flex justify-center items-center mt-[56px]">

    <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-[#14294a]">
        <form class="space-y-4" [formGroup]="editProfileForm">

            <h5 class="mb-3 text-xl font-medium text-gray-900 dark:text-white">Editar Información de usuario</h5>
            <div class="flex flex-col justify-between sm:flex-row">
                <app-custom-input
                    [id]="'name'"
                    [label]="'Nombre *'"
                    [type]="'text'"
                    [placeholder]="'Tu nombre'"
                    [control]="editProfileForm.controls.name"
                    formControlName="name"
                />

                <app-custom-input
                    [id]="'lastname'"
                    [label]="'Apellido *'"
                    [type]="'text'"
                    [placeholder]="'Tu apellido'"
                    [control]="editProfileForm.controls.lastname"
                    formControlName="lastname"
                />
            </div>

            <app-custom-input
                [id]="'new_email'"
                [label]="'Nuevo Correo electrónico'"
                [type]="'email'"
                [placeholder]="'Tu nuevo correo electrónico'"
                [control]="editProfileForm.controls.new_email"
                formControlName="new_email"
            />

            <app-custom-input
                [id]="'password'"
                [label]="'Contraseña actual *'"
                [type]="'password'"
                [placeholder]="'Tu contraseña actual'"
                [control]="editProfileForm.controls.password"
                formControlName="password"
            />

            <div class="flex flex-col justify-between sm:flex-row">
                <app-custom-input
                    [id]="'new_password'"
                    [label]="'Nueva contraseña'"
                    [type]="'password'"
                    [placeholder]="'Tu nueva contraseña'"
                    [control]="editProfileForm.controls.new_password"
                    formControlName="new_password"
                />

                <app-custom-input
                    [id]="'repit_new_password'"
                    [label]="'Repetir nueva contraseña'"
                    [type]="'password'"
                    [placeholder]="'Repite tu nueva contraseña'"
                    [control]="editProfileForm.controls.repit_new_password"
                    formControlName="repit_new_password"
                />
            </div>
            
            <div class="mt-3">
                <app-btn-primary label="Actualizar" [type]="'submit'" [disabled]="!editProfileForm.valid" (btnCliked)="OnSutmitEditProfil()"
                [loading]="loading"/>
            </div>
        </form>
    </div>
</div>