

<aside 
  id="separator-sidebar"
  class="fixed pt-14 top-0 left-0 px-2 w-[16rem] h-screen transition-all duration-300 bg-sidebar border-r border-[#14294a] dark:bg-gray-800 dark:border-gray-700"
  [class]="isCollapsed ? 'translate-x-0' : '-translate-x-full'"
  aria-label="Sidebar">
  <div class="h-full px-3 py-5  bg-sidebar overflow-x-hidden overflow-y-auto dark:bg-gray-800">
    <ul class="space-y-1 font-medium">
      @for (sect of sections; track sect.name; let i = $index) {
        <span class="self-center text-sm whitespace-nowrap text-white"
        >{{ sect.name }}</span><br>
        
        @if (sect.hrName) {
          <app-hr [text]="sect.hrName" color="white"></app-hr>
        }

        @if(sect.items.length === 0) {
          <li>
            <p class="ms-3 text-xs text-gray-500 truncate ...">Sin data</p>
          </li>
        } @else {
          @for (item of sect.items; track item.title; let j = $index) {
            <li class="m-0">
              <div 
                (click)="navigationTo(item)"
                class="flex items-center p-1 cursor-pointer text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                <svg
                  class="flex-shrink-0 w-4 h-4 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                  <path
                    d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
                </svg>
                <div class="w-40 flex">
                  <div class="w-40">
                    <span class="ms-3 text-sm text-white truncate ...">{{ item.title }}</span><br>
                  </div>
                </div>
              </div>
            </li>
          }
        }
      }
    </ul>
  </div>
</aside>